<div>
  <h2 id="page-heading" data-cy="StockProduitHeading">
    <span jhiTranslate="cafeApp.stockProduit.home.title">Stock Produits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cafeApp.stockProduit.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-stock-produit"
        [routerLink]="['/stock-produit/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cafeApp.stockProduit.home.createLabel"> Create a new Stock Produit </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="stockProduits?.length === 0">
    <span jhiTranslate="cafeApp.stockProduit.home.notFound">No stockProduits found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="stockProduits && stockProduits.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="cafeApp.stockProduit.id">Id</span></th>
          <th scope="col"><span jhiTranslate="cafeApp.stockProduit.quantite">Quantite</span></th>
          <th scope="col"><span jhiTranslate="cafeApp.stockProduit.dateCreation">Date Creation</span></th>
          <th scope="col"><span jhiTranslate="cafeApp.stockProduit.dateModification">Date Modification</span></th>
          <th scope="col"><span jhiTranslate="cafeApp.stockProduit.dateSuppression">Date Suppression</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stockProduit of stockProduits; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/stock-produit', stockProduit.id, 'view']">{{ stockProduit.id }}</a>
          </td>
          <td>{{ stockProduit.quantite }}</td>
          <td>{{ stockProduit.dateCreation | formatMediumDate }}</td>
          <td>{{ stockProduit.dateModification | formatMediumDate }}</td>
          <td>{{ stockProduit.dateSuppression | formatMediumDate }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/stock-produit', stockProduit.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/stock-produit', stockProduit.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(stockProduit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
